@import "../../../assets/variables";
#about{
  background-color: $main-theme-color;
  .container{
    .about-title{
      color: $main-theme-text-color;
      h2{
        font-size: 2.25rem;
        line-height: 2rem;
        @media screen and (min-width: 992px) {
          font-size: 3rem;
          line-height: 2.5rem;
        }
      }
      .star-container{
        margin: 1.25rem 0 1.5rem;
        .star{
          font-size: 2.3rem;
          color: $main-theme-text-color;
        }
        .star-line{
          width: 100%;
          max-width: 7rem;
          align-self: center;
          height: 0.25rem;
          border-radius: 1rem;
          background-color: $main-theme-text-color;
        }
      }
    }
    .about-text{
      div{
        p{
          font-size: 1.2rem !important;
          color: $main-theme-text-color;
        }
      }
    }
    .about-btn{
      a{
        padding: 1rem 1.75rem;
        font-size: 1.25rem;
      }
    }
  }
}
