<!-- header-start -->
<app-header></app-header>
<!-- header-end -->
<scrollActivation scrollEffects>
  <!-- portfolio-start -->
  <app-portfolio></app-portfolio>
  <!-- portfolio-end -->
  <!-- about-start -->
  <app-about></app-about>
  <!-- about-end -->
</scrollActivation>
<!-- footer-start -->
<app-footer></app-footer>
<!-- footer-end -->
<!-- copyright-start -->
<section id="copyright" class="py-4">
  <div class="container justify-content-center d-flex">
    <p class="small mb-0">{{ copyRightText | titlecase}}</p>
  </div>
</section>
<!-- copyright-end -->
<!-- modals-start -->
<app-modals ></app-modals>
<!-- modals-end -->
